# ============================================================
# BANQUITO V2 - document-service
# Copiar a .env.local o configurar como variables de entorno.
# No subir secretos reales al repositorio.
# ============================================================

SPRING_APPLICATION_NAME=document-service
SPRING_PROFILES_ACTIVE=docker
SERVER_PORT=8086

# MongoDB
# Local con Docker infra:
MONGODB_URI=mongodb://banquito_mongo:BanQuitoMongo2026!@mongo-document:27017/banquito_document_db?authSource=admin

# Seguridad JWT compartida con identity-access-service
JWT_ISSUER=banquito-identity-access
JWT_SECRET=ChangeMeWithStrongSecretSharedByAllServices

# Demo/reference data
DOCUMENT_DEMO_ENABLED=true

# Observabilidad / Actuator
ACTUATOR_EXPOSURE=health,info
ACTUATOR_HEALTH_DETAILS=always
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO

# gRPC futuro interno
DOCUMENT_GRPC_PORT=9096

# RabbitMQ futuro para eventos documentales
DOCUMENT_RABBITMQ_ENABLED=false
BANQUITO_EVENTS_EXCHANGE=banquito.events.exchange
DOCUMENT_QUEUE=document.queue

# Storage documental
DOCUMENT_STORAGE_MODE=MONGODB_PAYLOAD
DOCUMENT_STORAGE_BASE_PATH=/documents
